@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
*:not(i) {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.cusor-pointer:hover {
    cursor: pointer;
}

.lxtable thead th{
    background-color: #ECEDF1;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #383F47;
    border: none;
    vertical-align: middle;
}
.lxtab {

}
.lxtab a.active {
    background: #ECEDF1
}
.lxtab a {
    padding: 12px 40px;
    background: #F9FAFC;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #084388;
    
}

.fix-whitespace.el-select .el-tag .el-select__tags-text{
white-space: break-spaces;
}
.fix-whitespace.el-select .el-tag.el-tag--small {
height: auto;
}
.fix-whitespace.el-select {
height: 100%;
}
.fix-whitespace.el-select .el-select__tags {
top: 18%;
transform: translateY(-18%);
}

.el-input-number .el-input__inner {
text-align: right!important;
}
.el-input__inner {
background: #FFFFFF;
border: 1px solid #B0B5C1!important;
box-sizing: border-box!important;
border-radius: 8px!important;
font-weight: normal;
font-size: 16px!important;
line-height: 24px!important;
color: #383F47!important;
}
.el-input-fix__suffix .el-input__suffix {
top: 8px!important;
right: 11px!important;
}
.form-group {
margin-bottom: 0px!important;
}
.form-group label {
font-weight: 500;
font-size: 14px;
line-height: 22px;
color: #646D84;
margin-bottom: 8px;
}
.lxsidebar-item {
display: flex;
padding: 20px 24px;
padding-right: 10px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
align-items: center;
}

.lxsidebar-item:hover {
color: #FFFFFF;
background-color: #304255;
}

.lxsidebar-item.active {
background-color: #304255;
}

.lxsidebar-item span:first-child {
margin-right: 10px;
}

#content {
padding: 16px 12px;
}
.lxlayout-header {
padding: 12px 0px!important;
border-bottom: 1px solid #ECEDF1;
}
.lxlayout-header h3{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #084388;
}
.lxlayout-header__user {
font-weight: 500;
font-size: 14px;
line-height: 22px;
text-align: right;
color: #383F47;
}
#main {
padding: 20px 0px;
}
.main-header {
margin-bottom: 40px;
}
.main-header h3{
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #000000;
}
.main-header button{
    padding: 8px 20px;
    background: #084388;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.mb-16px {
margin-bottom: 16px!important;
}
.btn-submit {
padding: 12px 63px;
background: #084388;
border-radius: 8px;
border: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}

.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}
